@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Caladea", sans-serif;
  padding: 0;
  background-color: rgb(118, 166, 238);
  color: #00153D;
}
#logo img {
  width: 95px;
  height: auto;
  margin-left: 60px;
  margin-top: 30px;
}
#logo {
  display: inline-block;
  vertical-align: middle;
}